@font-face {
    font-family: 'PlusJakartaSans';
    src: url('./fonts/PlusJakartaSans-Medium.ttf') format('woff2'),
         url('./fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }