:root {
  --primary-color: rgb(240, 239, 239);
  --secondary-color: #e6e5e5;
  --primary-text-color: black;
  --secondary-text-color: #e6e5e5;
  --border-color: rgb(255,192,203);
  --small-font-size: 0.8em;
  --normal-font-size: 1em;
  --large-font-size: 1.2em;
  --xlarge-font-size: 2em;
}

body {
  font-family: 'Spotify Circular', sans-serif;
}

.post-box {
  width: 600px; /* Fixed width */
  max-width: 600px; /* Ensure that the width doesn't exceed the fixed value */
  min-height: 400px;
  margin: 0 auto 3em;
  padding: 2em;
  border-radius: 1.25em;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
}


.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.profile-icon {
  margin-right: 0.7em;
  font-size: var(--large-font-size);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.create-post-button.post-button {
  text-decoration: none; /* To remove the underline */
  color: var(--primary-text-color); /* Or any other color you want */
  display: inline-block;  /* Helps in retaining the block-like structure */
  background: #e6e5e5;
  text-align: center;
  font-size: larger;
}

.create-post-button.post-button:hover {
  background: #f0efef;
}


.post-content {
  flex-grow: 1;
}

.post-embed {
  position: relative;
  width: 100%;
  padding-bottom: 25%;
  height: 0;
  overflow: hidden;
}

.post-text {
  margin-top: 1em;
  font-size: var(--large-font-size);
  z-index: 10;
  position: relative;
}

.post-text p {
  overflow-wrap: break-word;
  line-height: 1.5;
}

.like-container {
  right: 18em;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2em;
  z-index: 10;
}

.logout-button{
  position: relative;
  top: 0.5em;
  right: 0.1em;
}

.like-button {
  font-size: var(--large-font-size);
  cursor: pointer;
}

.textlogo {
  width: 200px;
  height: auto;
  margin-right: 10px;
}

.pfp-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}


.pfp-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 96vw;
  padding: 1em 2vw;
  min-height: 10vh;
  z-index: 1000;
  border-bottom: 1px solid black;
  background-color: white;
    transition: transform 0.3s ease-in-out;
  }
  .header-hide {
    transform: translateY(-100%);
 }
 .comment-container:nth-child(n+4) {
  display: none;
}
.create-post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.post-button {
  background: transparent;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10vh;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.post-text-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1em;
  margin-top: 1em;
  overflow: auto;
  z-index: 10;
  /* remove position: relative; */
}

.toggle-comments-button {
  /* Add your desired styles here */
  background-color: var(--primary-color);
  border: 0px solid var(--secondary-color);
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* You can add more styles or overwrite existing ones as you see fit */
}

.toggle-comments-button:hover {
  background-color: var(--secondary-color);
}

.embed-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.spotify-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 50%;
  border: 0;
}

.pfp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.pfp-link {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.like-button, .post-button {
  cursor: pointer;
}

.comment-actions-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: relative;
}

.comment-box {
  z-index: 10;
  position: relative;
}

.comments-section {
  margin-top: 10px;
}
.comments-section,
.like-container {
  position: relative;
  z-index: 1;
}
.reply-box {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid var(--border-color);
  border-radius: 12px;
  background-color: #f9f9f9;
}

.reply-box:last-child {
  border-bottom: none;
}

.reply-header {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
  right: 0.5em;
}

.profile-link {
  margin-right: 5px;
}

.profile-icon {
  border-radius: 50%;
}

.comment-container {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1em;
  margin-top: 1em;
  background-color: #f9f9f9;
  max-height: 200px;
  transition: max-height 0.2s ease-in-out;
}
.reply-container {
  max-height: 200px;
  overflow-y: auto;
  transition: max-height 0.2s ease-in-out;
}
.comments-section.expanded .comment-container,.reply-container  {
  max-height: none;
}
.header-left {
  display: flex;
  align-items: center;
}
