:root {
  /* Define color and font size variables */
  --primary-color: rgb(240, 239, 239);
  --secondary-color: rgb(255, 240, 240);
  --primary-text-color: black;
  --secondary-text-color: pink;
  --border-color: rgb(229, 229, 229);
  --small-font-size: 0.8em;
  --normal-font-size: 1em;
  --large-font-size: 1.2em;
  --xlarge-font-size: 2em;
}

body {
  font-family: 'NewCentury';
}

.post-box {
  width: 85%;  /* You can adjust this value based on your design */
  max-width: 800px;  /* adjusted max-width to get wider posts */
  height: 400px;  /* added fixed height to make the post shorter, adjust as needed */
  margin: 0 auto 3em;
  padding: 2em;
  border-radius: 1.25em;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.profile-icon {
  margin-right: 1em;
  font-size: var(--large-font-size);
}

.post-content {
  flex-grow: 1;
}

.post-embed {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.post-text {
  margin-top: 2em;
  font-size: var(--large-font-size);
}

.like-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}

.like-button {
  font-size: var(--large-font-size);
  cursor: pointer;
}

.textlogo {
  width: 200px;
  height: auto;
  display: block;
  margin-right: 10px;
}

.pfp-container {
  position: absolute;
  top: 2vh; 
  right: 2vw;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pfp-link {
  display: inline-block;
  width: 2vw;
  height: 2vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 2vh;
  left: 2vw;
  width: 96vw;
  padding: 0 2vw;
  min-height: 10vh;
  z-index: 1000;
  flex-wrap: wrap;
}

.create-post-button {
  margin-left: 10px;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  margin: auto 0;
}

.pfp {
  width: 2vw;
  height: 2vw;
}

.post-button {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 10px 20px; 
  pointer-events: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10vh;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.logout-button {
  margin-top: 1%;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 1em;
  padding: 1% 2%; 
  pointer-events: auto;
  margin-right: 2vw;
}
.post-text-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 1em;
  margin-top: 1em;
}

.embed-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 10%;
}

.spotify-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
