.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


body {
  font-family: 'Taj';
}
/*
.post-box {
  position: relative;
  flex: 0 0 calc(50% - 10px); 
  margin-bottom: 20px; 
  height: auto;
  border: 1px solid rgb(255, 240, 240);
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(240, 239, 239); 
}
*/
.post-box {
  /* Other styles as before... */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 1.25em;
  background-color: rgb(240, 239, 239); 
  border: 1px solid rgb(255, 240, 240);
  position: relative;
  justify-content: space-between;
}


.textlogo {
  width: 100px;
  height: auto;
  display: block;
  margin-right: 10px; /* creates some space between the logo and the button */
}
.pfp-container {
  position: sticky;
  top: 2%;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 10px;
}
.create-post-button {
  margin-left: 10px; /* adjust as needed */
  background-color: rgb(240, 239, 239);
  border: 1px solid rgb(255, 240, 240);
  border-radius: 20px;
}
.pfp {
  width: 25%; 
  height: 25%;  
  margin: 1%;
}
.post-button {
  background-color: rgb(240, 239, 239);
  border: 1px solid rgb(255, 240, 240);
  border-radius: 20px;
  padding: 10px 20px; 
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout-button {
  margin-top: 1%;
  background-color: rgb(240, 239, 239);
  border: 1px solid rgb(255, 240, 240);
  border-radius: 1em; /* equivalent to 20px on larger screens, but scales down on smaller screens */
  padding: 1% 2%; 
}
.like-button {
  font-size: 2em; /* change this to whatever size you want */
  cursor: pointer;
}
.like-container {
  margin-top: 1em; /* adjust as needed */
  align-self: flex-start;

  
}
.post-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  justify-content: space-between;
  position: relative;

}

.post-embed {
  flex: 1;
  margin-right: 1em;
  max-width: 40%; /* adjust this value as needed */
}

.post-text {
  flex: 2;
}
.caption-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 240, 240);
  border-radius: 1em; /* 1em = 16px */
  padding: 1em; /* 1em = 16px */
  margin-top: 1em; /* 1em = 16px */
}
.profile-link {
  position: absolute;
  top: 1em;
  right: 1em;
}
.profile-icon {
  color: black;
}