@import './fonts.css';

/* UserPost.css */
.post-box {
  width: 100%;  /* increase the width as per your requirement */
  max-width: 1200px;
  min-height: 400px;
  margin: 0 auto 3em;
  padding: 2em;
  border-radius: 1.25em;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-info h3 {
  margin-left: 10px;
}

.post-info {
  margin-bottom: 10px;
}

.post-info a {
  color: #007BFF;
  text-decoration: none;
}

.post-info a:hover {
  text-decoration: underline;
}

.post-info p {
  margin-top: 10px;
}

.post-box img {  /* changed from .user-post img to .post-box img */
  max-width: 100%;
  height: auto;
}