.user-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px; /* adjust as needed */
    height: 500px; /* adjust as needed */
    margin: 10px;
    border-radius: 50px; /* adjust as needed to get the roundness you want */
    background-color: rgb(255, 255, 255); /* adjust as needed */
    
    text-align: center;
}
