@font-face {
  font-family: 'Satoshi Regular';
  src: url("/fonts/Satoshi-Medium.otf") format('opentype');
}
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/fonts/PlusJakartaSans-Medium.ttf') format('woff2'),
       url('/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-VariableFont_wght.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robot test';
  src: url('/fonts/Handjet-VariableFont_ELGR,ELSH,wght.ttf') format('woff2');
}

@font-face {
  font-family: 'Helvetica Neu';
  src: url('/fonts/Helvetica Neue Regular.otf') format('opentype');

}
@font-face {
  font-family: "Spotify Circular";
  src: url("/fonts/CircularSpotifyText-Book.otf") format('opentype');
}
@font-face {
  font-family: "Taj";
  src: url('fonts/AlQalam Taj Nastaleeq 1.01_Shipped.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NewCentury";
  src: url('fonts/NewCenturySchoolbook.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
